:root{
    --main-bg-color: #ffffff;
    --nav-bg-color: #14213D;
    --nav-sub-color: #FCA311;
    --sidebar-color: #e5e5e5;
    --txt-nav-color: #ffffff;
    --txt-main-color: #000000;

    --txt-header-color: #ffffff;
    --txt-sub-color: #b6c2bd;
    /* --main-font-bold: 'Libre Baskerville', serif;
    --main-font-reg: 'Rubik', sans-serif; */
}

.admin-card{
    display:flex;
    justify-content: center;
    border-style:solid;
    border-color:blue;
}

.admin-form__button{
    border-style:solid;
    border-color:blue;
    margin:0;
    width: 50%;
}