:root{
    --main-bg-color: #ffffff;
    --nav-bg-color: #14213D;
    --nav-sub-color: #FCA311;
    --sidebar-color: #e5e5e5;
    --txt-nav-color: #ffffff;
    --txt-main-color: #000000;
  
    --txt-header-color: #ffffff;
    --txt-sub-color: #b6c2bd;
  
  
    --hue-navbar: 162;
    --sat-navbar: 64%;
    --light-navbar: 19%;
  
    --hsl-navbar: HSL(var(--hue-navbar),var(--sat-navbar),var(--light-navbar));
  
    --hue-body: 154;
    --sat-body: 64%;
    --light-body: 98%;
  
      --hsl-body: HSL(var(--hue-body),var(--sat-body),var(--light-body));
  
    --hue-button: 164;
    --sat-button: 62%;
    --light-button: 31%;
  
    --hsl-button: HSL(var(--hue-button),var(--sat-button),var(--light-button));
    
    --hsl-button-light: HSL(var(--hue-button),var(--sat-button),45%);
    
    --hue-word: 163;
    --sat-word: 71%;
    --light-word: 61%;
  
    --hsl-word: HSL(var(--hue-word),var(--sat-word),var(--light-word));
  
    /* --main-font-bold: 'Libre Baskerville', serif;
    --main-font-reg: 'Rubik', sans-serif; */
}

.user-container__success-order{
    background-color: var(--hsl-body);
    height:50vw;
    overflow:hidden;

}
.user-col__success-order{
    font-weight:bold;
    margin-right:auto;
    margin-left:auto;
    padding-top:10vw;
    padding-bottom:10vw;
}

.user-span__success-order-title--header{
    font-weight:bold;
    font-size:1.75rem;
    width:100%;
}

.user-span__success-order-title--invoice{
    font-weight:bold;

}

.user-span__success-order-text--invoice{
    font-weight:normal;
}

.user-span__success-order-title--date{
    font-weight:bold;

}

.user-span__success-order-text--date{
    font-weight:normal;


}

.user-span__success-order-title--time{
    font-weight:bold;

}

.user-span__success-order-text--time{
    font-weight:normal;

}

.user-span__success-order-title--amt{
    font-weight:bold;

}

.user-span__success-order-text--amt{
    font-weight:normal;

}

.user-span__success-order-title--address{
    font-weight:bold;

}

.user-span__success-order-text--address{
    font-weight:normal;

}

.user-span__success-order-title--postal{
    font-weight:bold;

}

.user-span__success-order-text--postal{
    font-weight:normal;

}

.user-button__success-order{

}